.leftMenu {
    position: fixed;
    width: 180px;
    height: 100%;

    .menu-list {
        height: inherit;

    }
}

.content {
    margin-left: 180px;
    transition: all .3s;
    &.content-collapsed {
        margin-left: 80px;
    }

    .RightHeader {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #eee;
        &::after {
            content: '';
            display: block;
            clear: both;
        }

        div {
            display: inline-block;
        }
        .btn {
            margin: 0px 10px;
        }
        .userInfo {
            float: right;
            margin-right: 20px;
            text-align: center;
            &:hover {
                li {
                    display: block;
                }
            }

            :not(:first-child) {
                display: none;

                &:hover {
                    background-color: #eee;
                    color: #999;
                    font-weight: 700;
                }
            }
            li {
                padding: 0 20px;
                cursor: pointer;

                .icon {
                    transform: scale(.8);
                    margin-left: 1px;
                    vertical-align: -3px;
                }
            }
        }
    }
}